RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^search/([a-zA-Z]+)  search.php?search=$1 [L]
RewriteRule ^product/([a-zA-Z]+)/([0-9]+)  show.php?productId=$2 [L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]
