RewriteEngine on

#RewriteCond %{SERVER_PORT} 80 
#RewriteRule ^(.*)$ https://www.mbvl.in/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^product/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)	show.php?productId=$2 [L]
RewriteRule ^category/(.*)/?$	search.php?search=$1 [L]
RewriteRule ^([^\.]+)$ $1.php [NC,L]
